*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* footer support */
  position: relative;
  min-height: 100%;
}

header, main{
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container{
  display: grid;
  gap: 1;
  width: 500px;
  /*grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);*/

}

.grid-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 199, 199);
  border: 1px solid black;
}


